In [4]:
#Q1.modify the first item(22) of a list inside a following tuple to 222
#tuple1 = (11, [22, 33], 44, 55)
tuple1 = (11, [22, 33], 44, 55)
new=222
tuple1 = (11, [new, 33], 44, 55)
print("tuple1 = ",tuple1)

tuple1 =  (11, [222, 33], 44, 55)

In [6]:
#Q2.count the number of occurrences of item 50 from a tuple
#tuple1 = (50, 10, 60, 70, 50)
tuple1=(50, 10, 60, 70, 50)
n=int(input("enter the element to count number of occurrence :"))
c=0
for i in tuple1:
    if(i == n):
        c = c + 1
print("Number of occurrence of " ,n,"is" ,c)

enter the element to count number of occurrence :50
Number of occurrence of  50 is 2

In [8]:
#Q3.write a python program to convert a list  to a tuple
list1=[10, 20, 30, 40, 50]
print("list = ",list1)
tuple1=tuple(list1)
print("tuple1 = ",tuple1)

list =  [10, 20, 30, 40, 50]
tuple1 =  (10, 20, 30, 40, 50)

In [8]:
#Q4.returns a new set with all items from both sets by removing duplicates
#set1={10, 20, 30, 40, 50}
#set2={30, 40, 50, 60, 70}
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set(set1) | set(set2)
set3

{10, 20, 30, 40, 50, 60, 70}

In [21]:
#Q5.merge following two python dictionaries into one
#dict1={'Ten': 10, 'Twenty': 20, 'Thirty': 30}
#dict2={'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
def Merge(dict1,dict2):
    res = {**dict1 , **dict2}
    return res
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3=Merge(dict1,dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [10]:
#Q6.Given a python dictionary, change Brad's salary to 8500
#sampleDict = {
#'emp1': {'name' : 'Jhon' ,'salary': 7500},
#'emp2': {'name' : 'Emma' ,'salary': 8000},
#'emp3': {'name' : 'Brad' ,'salary': 6500}
#}

sampleDict = {
   'emp1': {'name' : 'Jhon' ,'salary': 7500},
   'emp2': {'name' : 'Emma' ,'salary': 8000},
   'emp3': {'name' : 'Brad' ,'salary': 6500}
}
sampleDict['emp3']['salary']=8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [11]:
#Q7.Rename key city to location in the following dictionary
#sampleDict ={
#"name":"kelly",
#"age":25,
#"salary":8000,
#"city":"New york"
#}

sampleDict ={
  "name":"kelly",
  "age":25,
  "salary":8000,
  "city":"New york"
}
sampleDict.pop("city")
sampleDict["location"]="New york"
sampleDict

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}